
div.fancy-header.transbox {
    color: rgb(239 215 118);
    text-decoration: underline;
    background-color: lightseagreen;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0.1em 0.1em 0.15em lightpink;
    margin: auto;
    width: 50%;
    font-size: 300%;

}
h3 { color: rgb(198 253 227);
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.15em black;
}

p{  color: black;
font-size: xx-large;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    text-shadow: 0.1em 0.1em 0.15em darkslategrey;


}
body {
    background-color: black;
    background-image: url(../images/geometric.jpg); position: fill;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-repeat: no-repeat;
    background-size: 1500px 2500px;
}

img {margin: 20px;
    height: 300px;
    width: 400px;
    box-shadow: 1em 1em .15em darkslategrey;
    border: 10px solid black;


}

div {background: rgb(198 253 227);
    text-align: center;
    margin: auto;
    width: 40%;
    height: 80%;
    box-shadow: 1em 1em .15em darkslategrey;
}

div.transbox {
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    border: 5px solid black;

}
ul  {list-style: circle inside;
    width:200px;
    margin:0 auto;
    text-align:left;
    padding: 5%;


}

ol { list-style: upper-alpha ;
    width:500px;
    margin: 0 auto;
    text-align:left;
    padding: 5% 30%;

}

table {margin: auto;
    border: 5px solid black;
    padding: 15px;
    box-shadow: 1em 1em 0.15em darkslategrey ;
}

th {font-family: "Mishafi Gold";

}


/* unvisited link (:link) */
a:link {
    color:white
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:lightpink;
}

/* active/selected link (:active) */
a:active {
    color:green;
}

